{% macro project_name() %}
An Arbitrary Project Name
{% endmacro %}

{% macro image_name() %}
core-image-minimal-quemux86-20121101043454
{% endmacro %}

{% macro build_name() %}
Final build candidate v1.2
{% endmacro %}

{% macro task_name() %}
cross-localedef-native-2.16r1:do_populate_sysroot
{% endmacro %}

{% macro table_header(cols = []) %}
    <!--tr>
        {% for col in cols %}
        <td>
            {% if col[0] %}
            <div class="combobox">
                <input type="text" class="filter" data-filter="{{ col[0] }}" />
                <button class="btn"><i class="icon-caret-down"></i></button>
            </div>
            {% endif %}
        </td>
        {% endfor %}
    </tr-->
    <tr>
        {% for col in cols %}
            {% if not col[2] %}
                <th>
                    {{ col[1] }}
                    <div class="btn-group pull-right">
                        <a class="btn column-button dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-caret-down"></i>
                        </a>
                        {% if col[0] == 'completed' %}
                            <ul class="dropdown-menu">
                                <li>
                                    <label>From</label>
                                    <input type="text" /> <i class="icon-calendar"></i>
                                </li>
                                <li>
                                    <label>To</label>
                                    <input type="text" /> <i class="icon-calendar"></i>
                                </li>
                                <li>
                                    <div class="pull-right">
                                        <button class="btn btn-mini">Filter</button>
                                    </div>
                                </li>
                            </ul>
                        {% elif col[0] == 'config' %}
                            <ul class="dropdown-menu">
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" checked /> /path/to/configuration/file.config
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" checked /> /path/to/a/different/configuration/file.config
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" checked /> upstream.config
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" /> default.config
                                    </label>
                                </li>
                            </ul>
                        {% elif col[0] == 'null' %}
                            <ul class="dropdown-menu">
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" checked /> All
                                        </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" /> Included only
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" /> Not included only
                                    </label>
                                </li>
                            </ul>
                        {% endif %}

                    </div>
                </th>
            {% endif %}
        {% endfor %}
    </tr>
{% endmacro %}

{% macro table_switches(cols = []) %}
    <div class="btn-group">
        <a class="btn column-button dropdown-toggle" data-toggle="dropdown">
            <i class="icon-columns"></i>
            <i class="icon-caret-down"></i>
        </a>
        <ul class="dropdown-menu pull-right">
            {% for col in cols %}
                {% if col[0] != 'null' %}
                    <li>
                        <label class="checkbox">
                            {% if col[2] %}
                                <input type="checkbox" />
                            {% else %}
                                <input type="checkbox" checked="checked" />
                            {% endif %}
                            {{ col[1] }}
                        </label>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endmacro %}